* {
  -fx-text-fill: text_blk;
  -fx-font-size: 16px;

  /* Main Colors */
  bg_900: #242f36;
  bg_800: #2F3E46;
  bg_700: #354F52;
  bg_600: #52796F;
  bg_500: #719178;
  bg_400: #84A98C;
  bg_300: #B9CBB0;
  bg_200: #c8dccc;
  bg_100: #e7f5e9;
  bg_000: #eeefee;

  /* Text Colors */
  text_blk: #1d1f20;
  text_wht: bg_000;

  /* Call to action */
  cta_orange: #df9323;
  cta_red: #ff0029;
  cta_red_hover: #bd0000;
  cta_red_pressed: #a10000;
  cta_green: #3cec5f;

  /* Board */
  board_normal: #e7ece7;
  ladder_positive: #58ea73;
  ladder_positive_destination: #a8ffbe;
  ladder_negative: #ff294d;
  ladder_negative_destination: #ffb3c1;

}


/* Global styling for different node types. */
.label {
  -fx-text-fill: text_blk;
  -fx-font-size: 16px;
}


.button {
  -fx-background-color: bg_800;
  -fx-text-fill: bg_100;
  -fx-background-radius: 10;
  -fx-padding: 5 10 5 10;
}

.button:hover {
  -fx-background-color: bg_700;
  -fx-padding: 5 10 5 10;
}

.button:pressed {
  -fx-background-color: bg_600;
  -fx-padding: 5 10 5 10;
}


.scroll-pane {
  -fx-background-color: bg_100;
  -fx-border-radius: 20;
}

.text-field {
  -fx-background-color: bg_100;
  -fx-text-fill: text_blk;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  -fx-pref-height: 30;
  -fx-prompt-text-fill: #757575;
  -fx-font-size: 16px;
}


.combo-box {
  -fx-background-color: bg_100;
  -fx-background-radius: 10;
  -fx-prompt-text-fill: #757575;
  -fx-pref-height: 30;
  -fx-padding: 0;
  -fx-max-width: 100;
}

.radio-button .radio {
  -fx-background-color: bg_200;
}


/* Board and tile styles */
.board {
  -fx-background-color: bg_400;
  -fx-background-radius: 10;
  -fx-border-radius: 7;
  -fx-border-color: bg_400;
  -fx-border-width: 2;
}

.normal-tile {
  -fx-background-color: board_normal;
  -fx-background-radius: 8;
  -fx-border-width: 2;
  -fx-border-radius: 5;
  -fx-border-color: bg_400
}

.ladder-tile-positive {
  -fx-background-color: ladder_positive;
  -fx-background-radius: 8;
  -fx-border-width: 2;
  -fx-border-radius: 5;
  -fx-border-color: bg_400
}

.ladder-tile-positive-destination {
  -fx-background-color: ladder_positive_destination;
  -fx-background-radius: 8;
  -fx-border-width: 2;
  -fx-border-radius: 5;
  -fx-border-color: bg_400
}

.ladder-tile-negative {
  -fx-background-color: ladder_negative;
  -fx-background-radius: 8;
  -fx-border-width: 2;
  -fx-border-radius: 5;
  -fx-border-color: bg_400
}

.ladder-tile-negative-destination {
  -fx-background-color: ladder_negative_destination;
  -fx-background-radius: 8;
  -fx-border-width: 2;
  -fx-border-radius: 5;
  -fx-border-color: bg_400
}

.tile-number {
  -fx-text-fill: text_blk;
  -fx-font-size: 8px;
}

.
  /* Text styles */
.text {
  -fx-text-fill: text_blk;
  -fx-font-size: 16px;
}

/* JavaFX element styles */
.game {
  -fx-background-color: bg_700;
}

/* Styling for different window components */

.board-region {
  -fx-background-color: bg_800;
  -fx-text-fill: bg_100;
}

.sidebar {
  -fx-background-color: bg_400;
}

.dialog-box {
  -fx-background-color: bg_200;
  -fx-text-fill: bg_100;
  -fx-background-radius: 10;
  -fx-border-radius: 10;
}

.leaderboard {
  -fx-background-color: bg_200;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
}

.winner-screen {
  -fx-background-color: rgba(0, 0, 0, 0.5);
}

.board-selection-view {
  -fx-background-color: bg_400;
  -fx-text-fill: bg_100;
  -fx-background-radius: 10;
}

.button-bar {
  -fx-background-color: bg_700;
  -fx-background-radius: 0 0 10 10;
  -fx-pref-height: 50;
}

.button-bar .button {
  -fx-background-color: bg_700;
  -fx-text-fill: text_wht;
}

.button-bar .button:hover {
  -fx-background-color: bg_800;
}

.button-bar .button:pressed {
  -fx-background-color: bg_900;
}

.remove-button {
  -fx-background-color: cta_red;
  -fx-text-fill: text_wht;
  -fx-background-radius: 10;
}

.remove-button:hover {
  -fx-background-color: cta_red_hover;
}

.remove-button:pressed {
  -fx-background-color: cta_red_pressed;
}

/* Styling for different sub-components in the different components */

.dialog-text {
  -fx-background-color: bg_000;
  -fx-text-fill: text_blk;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
}

.speaker-box {
  -fx-background-color: bg_000;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
}

.piece-box {
  -fx-background-color: bg_100;
  -fx-border-radius: 4;
  -fx-background-radius: 4;
  -fx-padding: 3;
}

.header {
  -fx-font-size: 24px;
}

.die-image {
  -fx-border-radius: 10;
  -fx-background-radius: 10;
}

.player-selection-view {
  -fx-background-color: bg_300;
  -fx-text-fill: text_blk;
  -fx-background-radius: 10;
  -fx-min-height: 45;
  -fx-min-width: 300;

}